<img src="https://lh3.googleusercontent.com/u/1/drive-viewer/AFDK6gNQ4P4weDEvkHzqlMbbJfaJTb5MVH_hnCq0L8azPFOvwM2q1t5J6O5QH5tK01rq6eBLY5i7jlmHmxmetoF8gshBXjTgIA=w1366-h638" alt="Alternative text" height=350 />

# Pandas Assignment
**This Notebook is Prepared by MSP Data science Committee Leaders**

# SF Salaries

One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.

## Import pandas.

In [ ]:
import pandas as pd
# To Avoid The silly warning messages uncomment the following line
pd.set_option('mode.chained_assignment', None)

## Read Salaries.csv as a dataframe called <b><u>sal</b></u>.

In [ ]:
sal = pd.read_csv("/content/Salaries.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Display The first 15 Row

In [ ]:
sal.head(15)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.0,87082.62,110804.3,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.0,0.0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.0,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.3,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN

## Now see how are the data types of the coulmns

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

## Do you see that Everything is perfect ??
* If you agree Print <b><u>YES!!</u></b> three times
* Else Print <b><u>NO !!! </u></b> three times then Try to change fix the columns and show them after getting fixed **(TIP : Put the corrected in a new dataframe and reset the index in the new dataframe)**

In [ ]:
sal.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [ ]:
print("NO !!!\nNO !!!\nNO !!!")

NO !!!
NO !!!
NO !!!

In [ ]:
# data we will be fixing
df = sal.copy()

In [ ]:
df[df['JobTitle'].isna()]
# index no. 59232 doesnt't have any data

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

In [ ]:
# dropping null
df.drop([59232],inplace=True,axis=0)

In [ ]:
df.isna().sum()
# Benefits column has lots of nulls

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148653
Agency                   0
Status              110534
dtype: int64

In [ ]:
def drop_null(df):
  for i in df.columns:
    percentage_of_nulls = df[i].isna().sum()*100/df.shape[0]
    if percentage_of_nulls > 50:
      print("{}: {}% of data are null values and should be removed!!\n".format(i,percentage_of_nulls))
    elif  (percentage_of_nulls < 50) & (percentage_of_nulls > 0):
      print("{}: contains {}% of null values and should be treated\n".format(i,percentage_of_nulls))
    elif  (percentage_of_nulls == 0):
      print("{}: no nulls\n".format(i))

In [ ]:
drop_null(df)

Id: no nulls

EmployeeName: no nulls

JobTitle: no nulls

BasePay: contains 0.40698808634874506% of null values and should be treated

OvertimePay: no nulls

OtherPay: no nulls

Benefits: contains 24.324433412040122% of null values and should be treated

TotalPay: no nulls

TotalPayBenefits: no nulls

Year: no nulls

Notes: 100.0% of data are null values and should be removed!!

Agency: no nulls

Status: 74.3570597297061% of data are null values and should be removed!!

In [ ]:
# dropping columns with many null values
df.drop(['Benefits','Notes','Status'],inplace=True,axis=1)

In [ ]:
df.isna().sum()

Id                    0
EmployeeName          0
JobTitle              0
BasePay             605
OvertimePay           0
OtherPay              0
TotalPay              0
TotalPayBenefits      0
Year                  0
Agency                0
dtype: int64

In [ ]:
# we cannot estimate the base pay of an employee because this could be valuable data for the company so we should drop them
df.dropna(inplace=True)

In [ ]:
df.isna().sum()
# no other nulls

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
dtype: int64

In [ ]:
df['EmployeeName'].str.isupper().value_counts()
# names formates are different

False    111887
True      36161
Name: EmployeeName, dtype: int64

In [ ]:
df['EmployeeName'] = df['EmployeeName'].str.capitalize()

In [ ]:
df['EmployeeName'].value_counts()
# many repeated names

Kevin lee          22
Richard lee        19
Steven lee         18
William wong       18
Stanley lee        16
                   ..
Jerome  walker      1
Steve  brown        1
Arthur  ramirez     1
Han jin  jiang      1
Joe lopez           1
Name: EmployeeName, Length: 79962, dtype: int64

In [ ]:
df.duplicated(subset = ['Id']).sum()
# no id is repeated but let's get a last check

0

In [ ]:
df.duplicated(subset = ['EmployeeName','BasePay','OvertimePay','TotalPayBenefits','JobTitle','OtherPay']).sum()
# It's hard to get all these data equally by luck, they must be duplicates

3

In [ ]:
dupl = df.duplicated(subset = ['EmployeeName','BasePay','OvertimePay','TotalPayBenefits','JobTitle','OtherPay'])
df = df.loc[~dupl]

In [ ]:
df.duplicated(subset = ['EmployeeName','BasePay','OvertimePay','TotalPayBenefits','JobTitle','OtherPay']).sum()

0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148045 entries, 0 to 148653
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148045 non-null  int64
 1   EmployeeName      148045 non-null  object
 2   JobTitle          148045 non-null  object
 3   BasePay           148045 non-null  object
 4   OvertimePay       148045 non-null  object
 5   OtherPay          148045 non-null  object
 6   TotalPay          148045 non-null  float64
 7   TotalPayBenefits  148045 non-null  float64
 8   Year              148045 non-null  int64
 9   Agency            148045 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 12.4+ MB

In [ ]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'TotalPay', 'TotalPayBenefits', 'Year', 'Agency'],
      dtype='object')

In [ ]:
# returning data
sal = df

## Display all entries for the Columns from BasePay to TotalPayBenefits using iloc[]

In [ ]:
df.iloc[:,3:8]

             BasePay   OvertimePay      OtherPay   TotalPay  TotalPayBenefits
0          167411.18           0.0     400184.25  567595.43         567595.43
1          155966.02     245131.88     137811.38  538909.28         538909.28
2          212739.13     106088.18       16452.6  335279.91         335279.91
3            77916.0      56120.71      198306.9  332343.61         332343.61
4           134401.6        9737.0     182234.59  326373.19         326373.19
...              ...           ...           ...        ...               ...
148646  Not Provided  Not Provided  Not Provided       0.00              0.00
148647          0.00          0.00          0.00       0.00              0.00
148648          0.00          0.00          0.00       0.00              0.00
148649          0.00          0.00          0.00       0.00              0.00
148653          0.00          0.00       -618.13    -618.13           -618.13

[148045 rows x 5 columns]

## Show The data of the employee with the Least salary
* Is his Total pay Logical (Provide your answer in a print statment with the reason and treat this error)

In [ ]:
df[df['TotalPay']==df['TotalPay'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
148653,148654,Joe lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,-618.13,-618.13,2014,San Francisco

In [ ]:
print("No because the value is in negative, we could drop this row")
df = df.loc[df['TotalPay']>=0,:]

No because the value is in negative, we could drop this row

In [ ]:
df[df['TotalPay']==df['TotalPay'].min()].head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
36156,36157,Paulette adams,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,0.0,0.00,2011,San Francisco
36157,36158,Kaukab mohsin,TRANSIT OPERATOR,0.0,0.0,0.0,0.0,0.00,2011,San Francisco
36158,36159,Josephine mccreary,MANAGER IV,0.0,0.0,0.0,0.0,0.00,2011,San Francisco
70877,70878,Roland baylon,Deputy Court Clerk II,0.0,0.0,0.0,0.0,3728.05,2012,San Francisco
70927,70928,Felecia phillips,Registered Nurse,0.0,0.0,0.0,0.0,3618.13,2012,San Francisco

## What is the most common JobTitle among this dataset

In [ ]:
df['JobTitle'].mode()

0    Transit Operator
dtype: object

## Display the top 5 highest/lowest Avreage Total Pay Benefits

In [ ]:
# lowest 5 values
df.sort_values(by='TotalPay').head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
148649,148650,Roy i tillery,Custodian,0.00,0.00,0.00,0.0,0.00,2014,San Francisco
72853,72854,Johnnie benjamin,Parking Control Officer,0.0,0.0,0.0,0.0,73.32,2012,San Francisco
72829,72830,Refugio sanchez,Custodian,0.0,0.0,0.0,0.0,91.28,2012,San Francisco
72804,72805,Merritt brown,Truck Driver,0.0,0.0,0.0,0.0,107.52,2012,San Francisco
72797,72798,Vao davis,Transit Fare Inspector,0.0,0.0,0.0,0.0,110.72,2012,San Francisco

In [ ]:
# highest 5 values
df.sort_values(by='TotalPay',ascending=False).head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
0,1,Nathaniel ford,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,567595.43,567595.43,2011,San Francisco
1,2,Gary jimenez,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011,San Francisco
110531,110532,David shinn,Deputy Chief 3,129150.01,0.0,342802.63,471952.64,510732.68,2014,San Francisco
110532,110533,Amy p hart,Asst Med Examiner,318835.49,10712.95,60563.54,390111.98,479652.21,2014,San Francisco
36159,36160,Gary altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,362844.66,407274.78,2012,San Francisco

In [ ]:
# Average Total pay
df['TotalPay'].mean()

75057.97393950449

## How many people are working for the police? (This is pretty tricky)
**Assign the word <b><u>Police</b></u> to the Notes column**

In [ ]:
# first they should be with the same format
df['jobs'] = df['JobTitle'].str.lower()

In [ ]:
# checking there is no miss spelling of the word poilce
print(df['jobs'].str.contains("polik").sum())
print(df['jobs'].str.contains("polece").sum())
print(df['jobs'].str.contains("policeman").sum())

0
0
0

In [ ]:
# number of poicemen
df['jobs'].str.contains("police").sum()

8177

## Check if there is any Duplicates in names
* show the most common name and display his rows
* show the dataframe of non duplicated People and print the number of its rows

In [ ]:
df.duplicated(subset = ['EmployeeName']).sum()

68083

In [ ]:
df.drop_duplicates('EmployeeName')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency,jobs
0,1,Nathaniel ford,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,567595.43,567595.43,2011,San Francisco,general manager-metropolitan transit authority
1,2,Gary jimenez,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011,San Francisco,captain iii (police department)
2,3,Albert pardini,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,335279.91,335279.91,2011,San Francisco,captain iii (police department)
3,4,Christopher chong,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,332343.61,332343.61,2011,San Francisco,wire rope cable maintenance mechanic
4,5,Patrick gardner,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,326373.19,326373.19,2011,San Francisco,"deputy chief of department,(fire department)"
...,...,...,...,...,...,...,...,...,...,...,...
148616,148617,Afakasi o afakasi,Public Service Trainee,21.48,0.00,0.86,22.34,22.56,2014,San Francisco,public service trainee
148630,148631,Randy j keys,Carpenter,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,carpenter
148631,148632,Andre m johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,communications dispatcher 1
148638,148639,Lennard b hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,electrician
148642,148643,Dominic c marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,sign worker

In [ ]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'TotalPay', 'TotalPayBenefits', 'Year', 'Agency', 'jobs'],
      dtype='object')

## Show me How much is the Total Pay Benefits in Egyptian pound

In [ ]:
df['TotalPayBenefitsEgyptian'] = df['TotalPayBenefits']*20

In [ ]:
df['TotalPayBenefitsEgyptian']

0         11351908.6
1         10778185.6
2          6705598.2
3          6646872.2
4          6527463.8
             ...
148645           0.0
148646           0.0
148647           0.0
148648           0.0
148649           0.0
Name: TotalPayBenefitsEgyptian, Length: 148044, dtype: float64

# Great Job!

# <img src="https://lh3.googleusercontent.com/u/1/drive-viewer/AFDK6gPCq8mIoFZZvP6W7WRpcDcnLBjoAL0u4NGB1nHCxyMsY7HqgeW3u-_bYATP03ArkFITJ9od5keJm9ate7DmLhd_mu9J=w1366-h638" alt="Alternative text" width=450 height=450 />